* {
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0;
}
.listing {
  display: flex;
  div {
    margin-left: 10px;
    text-align: left;
    width: 50px;
  }
  .symbol {
  }
  .price {
    text-align: right;
  }
}
